body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
main {
    flex: 1 0 auto;
    background-color: RGBA(239, 239, 239, 1);
}
footer strong {
    font-weight: bold;
}
#login-card,
#changePwd-card,
#readeType-manage,
#addReader-card {
    margin-top: 16px;
}
#bg-500,
#bg-404,
#bg-403 {
    margin-top: 16px;
    width: 100%;
}
#menu-nav {
    color: #ee6e73;
}