{% extends 'base.html' %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3 xl4 offset-xl4">
            <div class="card hoverable" id="changeReader-card">
                <div class="card-title center teal lighten-1 white-text">修改借书证</div>
                <div class="card-content">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="rdID" type="number" class="validate">
                                    <label class="active" for="rdID">借书证号(不可修改)</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="rdName" type="text" class="validate" maxlength="20" data-length="20">
                                    <label class="active" for="rdName">姓名</label>
                                </div>
                                <div class="input-field col s12">
                                    <select id="rdSex">
                                        <option value="" disabled selected>选择性别</option>
                                        <option value="男">男</option>
                                        <option value="女">女</option>
                                    </select>
                                    <label for="rdSex">性别</label>
                                </div>
                                <div class="input-field col s12">
                                    <select id="rdType">
                                        <option value="" disabled selected>选择读者类型</option>
                                        {% for rt in rts %}
                                        <option value="{{ rt.rdType }}">{{ rt.rdTypeName }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="rdType">读者类型</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="rdDept" type="text" class="validate" maxlength="20" data-length="20">
                                    <label class="active" for="rdDept">单位名称</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="rdPhone" type="text" class="validate" maxlength="25" data-length="25">
                                    <label class="active" for="rdPhone">电话号码</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="rdEmail" type="text" class="validate" maxlength="25" data-length="25">
                                    <label class="active" for="rdEmail">电子邮箱</label>
                                </div>
                            </div>
                            <div class="center">
                                <button type="button" class="waves-effect waves-light btn" id="reader_change" disabled>修改</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/changeReader.js" charset="UTF-8"></script>
{% endblock %}